@(currentPage: Page[Book], currentOrderBy: Int, currentFilter: String)(implicit flash: play.api.mvc.Flash)

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage: Int, newOrderBy: Option[Int] = None) = @{
    routes.BookController.list(newPage, newOrderBy.map { orderBy =>
        if(orderBy == Math.abs(currentOrderBy)) -currentOrderBy else orderBy
    }.getOrElse(currentOrderBy), currentFilter)
    
}

@**********************************
* Helper generating table headers *
***********************************@
@header(orderBy: Int, title: String) = {
    <th class="col@orderBy header @if(Math.abs(currentOrderBy) == orderBy) @{if(currentOrderBy < 0) "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, Some(orderBy))">@title</a>
    </th>
}

@main {
    
    <h1>@Messages("Books ", currentPage.total)</h1>

    @flash.get("success").map { message =>
        <div class="alert-message warning">
            <strong>Done!</strong> @message
        </div>
    }

    <div id="actions">
        
        @helper.form(action=routes.BookController.list()) {
            <input type="search" name="f" value="@currentFilter" placeholder="Filter by book name...">
            <input type="submit" value="Filter by name" class="btn primary">
        }
        
        <a class="btn success" id="add" href="@routes.BookController.create()">Add a new book</a>
        
    </div>
    
    @Option(currentPage.items).filterNot(_.isEmpty).map { books =>
        
        <table class="books zebra-striped">
            <thead>
                <tr>
                    @header(2, "Book name")
                    @header(2, "Introduced on")
                </tr>
            </thead>
            <tbody>

                @books.map { 
                    case book => {
                        <tr>
                            <td><a href="@routes.BookController.edit(book.id.get)">@book.name</a></td>
							<td>
								@book.introduced.map { date =>
						        	<time datetime="@date">@date.format("MMM dd yyyy")</time>
						    	}
							</td>
                        </tr>
                    }
                }

            </tbody>
        </table>

        <div id="pagination" class="pagination">
            <ul>
                @currentPage.prev.map { page =>
                    <li class="prev">
                        <a href="@link(page)">&larr; Previous</a>
                    </li> 
                }.getOrElse {
                    <li class="prev disabled">
                        <a>&larr; Previous</a>
                    </li>
                }
                <li class="current">
                    <a>Displaying @(currentPage.offset + 1) to @(currentPage.offset + books.size) of @currentPage.total</a>
                </li>
                @currentPage.next.map { page =>
                    <li class="next">
                        <a href="@link(page)">Next &rarr;</a>
                    </li> 
                }.getOrElse {
                    <li class="next disabled">
                        <a>Next &rarr;</a>
                    </li>
                }
            </ul>
        </div>
        
    }.getOrElse {
        
        <div class="well">
            <em>No books to display</em>
        </div>
        
    }

        
}

